<%- include('./../layout/menu') %>


    <h1 class="shadow-lg bg-secondary text-white p-2 rounded text-center mb-3">Sistemas para Gerir Gerentes e
        Contas
        Corrente
    </h1>

    <div class="row">
        <div class="col-sm-6">
            <div class="card bg-secondary">
                <div class="card-body">
                    <img class="card-img-top" src="imagens/gerente.jpg" />
                    <h4 class="card-title text-light mt-3 text-center">GERENTE</h4>
                    <p class="card-text text-light">Aqui voce pode entrar e Listar seus Gerentes, assim podendo editar e
                        deletar os
                        mesmos.</p>
                    <a href="/gerentes" class="btn btn-primary w-100">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-secondary">
                <div class="card-body">
                    <img class="card-img-top" src="imagens/banco.jpg" />
                    <h4 class="card-title text-light mt-3 text-center">CONTAS CORRENTE</h4>
                    <p class="card-text text-light">Aqui voce podera entrar e listar suas Contas Corrente, podendo assim
                        editar e
                        deletar os mesmos.</p>
                    <a href="/contas" class="btn btn-primary w-100">Acessar</a>
                </div>
            </div>
        </div>
    </div>


    <%- include('./../layout/footer') %>